.bordered-div {
  border: 1px solid #ccc;
  padding: 5px !important;
  margin-bottom: 5px;
  border-radius: 5px;
}

.filter-group-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.filter-tabs {
  padding: 10px 0;
}

.filter-tabs-start {
  padding: 10px 0;
  text-align: start;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}

.k-animation-container {
  width: 100% !important;
}

.utilities button {
  margin-right: 10px;
  margin-top: 10px;
}

.cerca-btn {
  margin-top: 1.5em;
}

h4 {
  margin-bottom: 5px;
  color: #005f73; /* Colore del testo coordinato */
}

h5 {
  margin-left: -15px;
  margin-bottom: 0px;
}

